* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #f9f9f9;
}
.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #f9f9f9;
}

img {
  max-width: 100%;
}
h1 {
  color: #2a254b;
}

header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-inline: 20px;
  h1 {
    font-family:
      Clash Display,
      sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;

  nav {
    display: flex;
    gap: 10px;
  }
}

.bottom-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 44px;
  height: 62px;

  a {
    font-family: Satoshi;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #726e8d;
    text-decoration: none;
  }
}

a:hover {
  color: gray;
  text-decoration: underline;
  transform: scale(1.1);
  transition: 0.4s;
}

i:hover {
  transform: scale(1.1);
  transition: 0.4s;
}

i:nth-child(1):hover {
  transform: scale(1.4);
  transform: rotate(90deg);
  transition: 1.5s;
}
main{
  margin: 100px 0 100px;
}
.product-main {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
 
  
  h2{
    font-family: Clash Display;
  font-weight: 400;
  font-style: Regular;
  font-size: 36px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #2a254b;
  
  }
}



.product-header,
.product-elem {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  column-gap: 150px;
  padding: 15px 0;
  border-bottom: 1px solid #ebe8f4;
  


  span {
    font-family: Clash Display;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #2a254b;
  }
}
.product-elem:nth-child(3) {
  border: none;
  
}



.product-item {
  display: flex;
  gap: 21px;
  align-items: center;
  gap: 8px;
}

.product-item img {
  width: 100px;
  height: 134px;
}
.product-img-description {
  h5 {
    font-family: Clash Display;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #2a254b;
  }

  p {
    font-family: Satoshi;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #2a254b;
    width: 179px;
    height: 42px;
    opacity: 1px;
  }
  span {
    font-family: Satoshi;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #2a254b;
  }
}

.quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 122px;
  height: 46px;
  opacity: 1;
  top: 226px;
  left: 838px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  background: #f9f9f9;

  button {
    background: none;
    border: 0px solid #000;
    color: #ebe8f4;
  }
  span {
    font-family: Satoshi;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #2a254b;

  }
}

.price{
  font-family: Satoshi;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 150%;
letter-spacing: 0%;
color: #2a254b;

}

.product-footer{
  text-align: right;
  h2{
    font-family: Clash Display;
font-weight: 400;
font-style: Regular;
font-size: 20px;
line-height: 140%;
letter-spacing: 0%;
text-align: right;
color: #2a254b;
  }

  p{
    font-family: Satoshi;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 150%;
letter-spacing: 0%;
text-align: right;
padding-block: 15px;
color: #2a254b;

  }

  button{
    width: 172px;
height: 56px;
opacity: 1;
top: 645px;
left: 1080px;
gap: 10px;
padding-top: 16px;
padding-right: 32px;
padding-bottom: 16px;
padding-left: 32px;
background-color: #2a254b;
color: #ffff;
  }
}

footer{
  background-color: #2A254B;
  color: #f9f9f9;




  .container{background-color: #2A254B;}
}

.footer-service{
  padding: 48px 0 58px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f7f4f4;



}

.footer-service ul:nth-child(4){
flex-basis: 100px;
}

label{
  display: flex;

  input{
    width: 509px;
height: 56px;
opacity: 1;

  }

  button{
    width: 118px;
height: 56px;
opacity: 1;
gap: 10px;
padding-top: 16px;
padding-right: 32px;
padding-bottom: 16px;
padding-left: 32px;
color: #2A254B;
  }
}

ul{

  display: flex;
  flex-direction: column;
  row-gap: 12px;

  h4{
    font-family: Clash Display;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;

  }
  a{
    font-family: Satoshi;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
text-decoration: none;
color: #ebe8f4;
  }
}

.footer-links{
  display: flex;
  justify-content: space-between  ;
  padding: 25px 0;
}
